{% extends "layout.html" %}

{% block body %}
	<h1>Movie Theme Song Database</h1>
	<form action="/add" method="post">
		<input name="title" autocomplete="off" autofocus placeholder="Title" type="text">
		<input name="composer" placeholder="Composer" type="text">
		<input type="submit" value="Add">
	</form>
	<h2>Movie title - Composer</h2>
	<ul>
		{% for movie in movies %}
			<li><i>{{ movie.title }}</i> by {{  movie.composer }}</li>
		{% endfor %}
	</ul>

	<script>
		document.querySelector('form').onsubmit = function() {
			if (!document.querySelector('input').value) {
				alert('You must provide a movie title and a composer!');
				return false;
			}
			return true;
		};
	</script>
{% endblock %}
